<div class="col-2" style="flex-grow: 1; padding-right: 0; padding-left: 0; margin: 0;">
    <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">

            <a class="nav-link"
               id="pills-admin-tab"
               data-toggle="pill"
               href="#pills-admin"
               role="tab"
               aria-controls="pills-admin"
               aria-selected="true"
            >Admin</a>

        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="pills-user-tab"
               data-toggle="pill"
               href="#pills-user"
               role="tab"
               aria-controls="pills-user"
               aria-selected="false"
            >User</a>
        </li>
    </ul>
</div>

<div class="col-10 bg-light" style="flex-grow: 1; padding-left: 30px;">
    <div class="tab-content"
         id="pills-tabContent"
    >
        <div role="tabpanel"
             class="tab-pane fade"
             id="pills-admin"
             aria-labelledby="pills-admin-tab">
            <!-- Содержимое вкладки Admin -->
        </div>
        <div role="tabpanel"
             class="tab-pane fade"
             id="pills-user"
             aria-labelledby="pills-user-tab"
        >
            <!-- Содержимое вкладки User -->
        </div>
    </div>
</div>