<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div class="container">
    <div class="col-3 offset-6">
        <form th:action="@{/posts}" method="post" th:object="${user}">
            <input type="hidden" name="id"  th:value="${user.id}"/>
            <br/>
            <label for="Username" class="font-weight-bold" style="display: block; text-align: center;">Username: </label>
            <input type="text" class="form-control" placeholder="Username"  th:field="*{username}" id="Username">
            <br/>
            <label for="Password" class="font-weight-bold" style="display: block; text-align: center;">Password: </label>
            <input type="text" class="form-control" placeholder="Password"  th:field="*{password}" id="Password">
            <br/>
            <label for="firstName" class="font-weight-bold" style="display: block; text-align: center;">First Name: </label>
            <input type="text" class="form-control" placeholder="First Name"  th:field="*{firstName}" id="firstName">
            <br/>
            <label for="lastName" class="font-weight-bold" style="display: block; text-align: center;">Last Name: </label>
            <input type="text" class="form-control" placeholder="Last Name"  th:field="*{lastName}" id="lastName">
            <br/>
            <label for="email" class="font-weight-bold" style="display: block; text-align: center;">E-mail: </label>
            <input type="text" class="form-control" placeholder="E-mail"  th:field="*{email}" id="email">
            <br/>
            <input type="submit" value="Edit!"/>
            <br/>
            <a href="/logout">Выйти из пользователя</a>
            <br/>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>